*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-image: url(/imagep/background.png);


    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    /* background-size: cover; */
    
    
    
    
  }
  #container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    max-width: 100vw;
    align-content: center;
    justify-content: center;
  }
  
  #nav{
    position:sticky;
    z-index: 1000;
    top:0;
    height: auto;
    width: auto;
    max-height: 70px;
    min-width: 98%;
    margin: 15px 15px 0px 15px;
    display: flex;
    background-color: rgb(244,93,6);
    /* background-color: #FF6F61; */
    border-radius: 20px;
    opacity: 0.9;
    box-shadow: 20px 30px 60px grey;
    box-sizing: border-box;
    
  }
  #logo{
    display: flex;
    
    width: 100px;
    padding: 4px;
    
  }
  .dropdown{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
  }
  .features{
    align-items: center;
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 8px 0px 40px;
    margin: 0px 25px 0px 25px;
    text-shadow: 0px 2px 3px black;
  }
  
  input[type="search"]{
    border-radius: 10px;
    border: 1px solid black;
    padding:0px 10px 0px 10px ;
    height: 30px;
    font-size: 16px;
    outline: none;
    transition: width 0.4s ease-in-out;
  }
  #Search:hover{
    text-shadow: white 3px 10px 10px;
  }
  #placeholder{
    opacity: 0;
    
  }
  #Search:hover #placeholder{
    opacity: 1;
    transition: 0.5s;
    width: 200px;
  }
  #recipe-pizza{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    height: max-content;
    background-color: rgba(255, 255, 255);
    /* background-color: #fefcde; */
    background-color: #FFF0DC;
  border: 3px dashed #FF671C;
  margin: 150px 280px 10px 200px;
  gap: 80px;
box-shadow: 20px 20px 60px grey;
  /* padding: 50px; */
  width: 1400px;

}

.h{
height: 700px;
width: 700px;
background-color: white;
border:3px dashed orangered;
border-radius: 39px;
}

#box1{
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 40px;
  margin-left: 80px;
  /* height: auto; */
  width: 400px;
  height: 1500px;
  justify-content: center;
  align-items: center;
}
#box2{
  display: flex;
  gap: 50px;
  flex-direction: column;
  /* width: 900px; */

  /* justify-content: center; */
  /* padding-top: 80px; */
}
#photo{
  display: flex;
  flex-direction: row;
  height: 370px;
  width: 370px;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  bottom: 130px;
  right: 120px;
  box-shadow: 10px 10px 30px grey;
  border-bottom: 8px solid #FF671C;
  border-right: 5px solid #FF671C;

}
table{
  direction:ltr;
}
#photo img{
  border-radius: 10px;
}
#servings{
  height: 530px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}
#info{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  

}
.tickbox{
  color: white;
  /* position: relative; */
  align-content: center;
  /* left: 60px; */
  background-color: teal;
  height: 90px;
  width: 90px;
}
#notes{
  background-color: white;
border: 3px dashed #FF671C;
  margin-left: 38px;
  padding: 8px;
  border-radius: 10px ;
  width: 380px;
  height: 400px;
  font-size: 20px;
  line-height: 1.4; 
  box-shadow: 15px 15px 40px grey;

  
  /* display: flex; */

}
#notes ul{
  margin-top: 10px;
  margin-left: 20px;
}

#yt{
  height: 400px;
  width: 700px;
  box-shadow: 15px 15px 40px grey;

}
#name{
  width: 600px;
  height: 70px;
  position: relative;
  bottom: 40px;
  right: 100px;
  font-size: 50px;
  text-align: center;
  border-bottom: 6px solid #FF671C;
  border-right: 10px solid #FF671C;
  box-shadow: 10px 10px 30px grey;


}


#ingrediants h3{
  text-align: center;
  /* margin-bottom: 7px; */
}
#ingrediants p{
  border-bottom: 2px solid gray;
}
#ingrediants{
  line-height: 1.4;
  padding: 50px;
  font-size: 25px;
  height: 390px;
  width: 630px;
  /* position: relative; */
  left: 80px;
  box-shadow: 15px 15px 40px grey;

}
.cuisine>button>a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}
#box3{
  /* font-size: 28px; */
  /* margin: 50px; */
  padding: 50px;
  padding-left: 170px;
}
#procedure{
  line-height: 1.6;
  font-size: 26px;
  height: 700px;
  width: 900px; 
  padding: 40px;
  box-shadow: 15px 15px 40px grey;
}
iframe{
  /* width: 700px;
  height: 600px; */
  position: relative;
  /* left: 50px; */
}
/* #recipe-pizza{
    border: 2px solid orangered;
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 1fr  ;
    grid-template-rows: repeat(15,100px) ;

}
.h{
    background-color: yellow;
    border: 4px solid green;
}
#photo{
    grid-row: 1/4;


}
#name{
    grid-column: 2/4;
    margin-left: 100px;
    margin-right:100px;
    height: 60px;
}
#yt{
    grid-column: 2/4;
    grid-row:2/5 ;
    margin-right: 70px;
    margin-left: 110px;

}
#servings{
    grid-column: 1/2;
    grid-row: 5/9;
    width: 350px;
}
#ingrediants{
    grid-column: 2/4;
    grid-row: 5/13;
    margin-left: 180px;
    width: 700px;
} */
 /* body {
  background: #fff;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.navbar {
  background: orange;
  border-radius: 40px;
  margin: 20px 0 40px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  padding: 0 30px;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  background: url('YOUR-ICON.png') no-repeat center/contain;
  margin-right: 30px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  flex: 1;
  justify-content: flex-end;
}
.nav-btn {
  border: none;
  background: #fff;
  border-radius: 20px;
  padding: 8px 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
  font-weight: bold;
  cursor: pointer;
}

.main-container {
  display: flex;
  margin-left: 50px;
  margin-top: 40px;
}

.left-panel {
  margin-right: 30px;
  border: 3px dashed orange;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.pizza-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.right-panel .card {
  background: #dadada;
  border: 3px dashed orange;
  border-radius: 20px;
  padding: 24px;
  min-width: 700px;
  min-height: 470px;
  position: relative;
}

.card-title {
  background: linear-gradient(90deg, #2d9fd9, #003649);
  color: white;
  font-size: 2.5rem;
  font-family: 'Creepster', cursive;
  text-align: center;
  padding: 8px 0 10px 0;
  width: 370px;
  margin: -45px auto 25px auto;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.10);
}

.card-content {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}

.servings-box {
  margin-top: 100px;

  background: #ff8989;
  border-radius: 16px;
  padding: 26px;
  width: 210px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.6rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.servings-box > div {
  display: flex;
  align-items: center;
  font-family: 'Creepster', cursive;
}
.servings-num {
  background: #7b97fa;
  color: #111;
  font-size: 2rem;
  padding: 4px 18px;
  border-radius: 7px;
  margin-left: 14px;
  font-family: 'Luckiest Guy', cursive;
}
.servings-box-blue {
  display: inline-block;
  width: 36px; height: 36px;
  background: #7b97fa;
  border-radius: 10px;
  margin-left: 14px;
}

.big-blue {
  background: #7b97fa;
  min-width: 350px;
  min-height: 180px;
  border-radius: 18px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.ingredients-box {
  background: #70e070;
  border-radius: 20px;
  width: 250px;
  min-height: 120px;
  padding: 16px 22px;
  margin-top: 15px;
  font-size: 1.5rem;
  font-family: 'Creepster', cursive;
} */
 /* Rectangle 12 */

/* box-sizing: border-box; */

/* position: absolute;
width: 298px;
height: 311px;
left: 114px;
top: 122px;

background: #FFFEFE;
border: 3px dashed #FF671C; */

