*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-image: url(/imagep/background.png);
    /* background-color: black; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* width: auto; */

    /* height: auto; */



}
#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    max-width: 100vw;
    align-content: center;
    justify-content: center;
}

#nav{
    position:sticky;
    z-index: 1000;
    top:0;
    height: auto;
    width: auto;
    max-height: 70px;
    min-width: 98%;
    margin: 15px 15px 0px 15px;
    display: flex;
    background-color: rgb(244,93,6);
    border-radius: 20px;
    opacity: 0.9;
    box-shadow: 20px 30px 60px grey;
    box-sizing: border-box;

}
#logo{
    display: flex;
    margin: 0px 0px 0px 50px;
    width: 100px;
    padding: 4px;

}
.dropdown{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}
.features{
    align-items: center;
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 8px 0px 40px;
    margin: 0px 25px 0px 25px;
    text-shadow: 0px 2px 3px black;
}

input[type="search"]{
    border-radius: 10px;
    border: 1px solid black;
    padding:0px 10px 0px 10px ;
    height: 30px;
    font-size: 16px;
    outline: none;
    transition: width 0.4s ease-in-out;
}
#Search:hover{
    text-shadow: white 3px 10px 10px;
}
#placeholder{
    opacity: 0;
    
}
#Search:hover #placeholder{
    opacity: 1;
    transition: 0.5s;
    width: 200px;
}
#map{

    padding: 50px;
    align-content: center;
    
}
#world{
    font-size: 110px;
    margin-top: 100px;
    color:rgb(255, 104, 28);
    text-shadow: 10px 20px 25px #eb8958;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;

    text-align: center;
    margin-bottom: 40px;
    padding-right: 20px;
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
#abfood{
    font-size: 25px;
    padding: 40px;
}
#dishes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 2px 2px 10px gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}
#dishes>h1{
    font-size: 100px;
    font-family: just me again down here, cursive;
    color: rgb(239,20,25);
    font-weight: 600;
    text-shadow: 1px 2px 10px ;
    margin-top: 20px;
}
#dishes>p{
    font-size: 25px;
    padding: 0px 50px 20px 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 20px;
}
.cuisine{
    flex: 1 1 calc(33.3%-20px);
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(251, 217, 177);
    border-right: 9px solid linear-gradient(gray,red);
    border-bottom: 6px solid #eb8958;
    border-radius: 20px;
    background-image: linear-gradient(rgb(244,93,6), rgb(244, 168, 124), white);
    /* border: 1px solid gray; */
    box-shadow: 0px 2px 10px gray;
    margin-top: 60px;
    margin-bottom: 60px;
    transition: 1s;
    transition-delay: 100ms;
}
.cuisine:hover{
    transform: scale(1.08);
    box-shadow: 0px 8px 16px rgb(244,93,6);
    delay : 2s;

    
}
.cuisine>button>a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.cuisine>button{
    position: relative;
    bottom: 30px;
    left: 45px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(239,20,25);
    color: white;
    font-size: 16px;
    box-shadow: 2px 3px 3px black;
    cursor: pointer;
}
button:hover{
    box-shadow: 3px 2px 3px ;
    transform: scale(1.1);
    transition: 0.3s;
}
.cuisine>img{
    height:200px;
    width: 200px;
    border-radius: 50%;
    position:relative;
    bottom: 100px;
    border: 0px solid white;
    box-shadow: 6px 3px 10px black;
}
.cuisine>h3{
    position: relative;
    bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}

#line{
    border: none;
    box-shadow: 5px 5px 18px  gray;
    border-radius: 20px;
    background-color: white;
    margin: 10px 50px 0px 50px;
    padding: 0px 0px 50px 0px;
}
#subheading{
    padding: 40px 0px 0px 0px;
    margin: 90px 0px 0px 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 50px;
    font-family: "Just Me Again Down Here", cursive;
    color: rgb(250, 124, 65);
    text-shadow: 2px 3px 5px black;
    margin-bottom: 50px;}
    

#image{

    display: flex;
    gap: 10px   ;
}
.pic{
    border-radius: 0px;
    padding: 10px;
    margin: 10px;
    /* box-shadow: 5px 5px 15px gray; */
    
}
.pic>img{
    border-radius: 20px;
    transform: scale(1.3);
    margin: 30px;
}
.pic>img:hover{
    transform: scale(1.4);
    border-radius: 0px;
    box-shadow: 10px 10px 20px gray;
    transition: 1.5s;
;
    
}

.pic p{
    position: relative;
    bottom: 100px;
    right:33px;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    z-index: 1000;
    display:none;
}
#taj{
    box-shadow: 5px;
}
#mainpic{
    border-radius: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    
}
#block{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3,0fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap ;

}
footer{
    text-align: center;
    align-content: center;
    height: 450px;
    background-color: rgb(244,93,6);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 100px;

}
#footer-nav{

    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    gap:110px;
    padding: 0px 50px 0px 50px;
    line-height: 1.5;

}

#bottom{
    padding: 20px;
    margin: 60px 0px 0px 0px;
    background-color: black;
    position: relative;
    bottom: -65px;
    font-size: 18px;
    border-top: 1px  solid white;
}
#socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 20px;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* box-shadow: 2px 1px 8px red; */

}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 0.5px solid black;
  /* box-shadow: 2px 1px 8px black; */
}
div#dish:hover .dropdown-content {
  display: block;
}
div#dish a {
    color: white;
    text-decoration: none;
}